<table class="table" id="liabilList">
  <tr>
    <th>Id</th>
    <th>Party</th>
    <th>Amount</th>
    <th>Actions</th>

  </tr>
  {{#each liabilities as |liability|}}
    {{liability-form liability=liability}}
  {{/each}}
</table>
