<td>
  <button type="button"
       {{action "firstPressed" liability}}>&lt;&lt;</button>
  <button type="button"
       {{action "prevPressed" liability}}>&lt;</button>
  <button type="button"
      {{action "nextPressed" liability}}>&gt;</button>
  <button type="button"
      {{action "lastPressed" liability}}>&gt;&gt;</button>
</td>
