td {
    text-align: left;
    padding: 3px;
}

th {
    text-align: center;
}

table, th, td {
    border: 1px solid black ;
}

table {
	width: 50%;
}

.tree-item-capture {
  text-align: left;
}

.detail-form {
    background-color: lightgrey;
    border: 5px solid green;
    padding: 25px;
    margin: 2px;
}
