<div class="detail-form">
  <table id="enterpiseList">
    <tr>
  		<th>Id</th> <td class="tree-item-capture">{{model.id}}</td>
      <th>Name</th> <td class="tree-item-capture">{{model.name}}</td>
    </tr>
  </table>

  {{outlet}}

</div>
