<table class="table table-bordered table-striped">
    <thead>
      <tr>
				<th>Id</th>
				<th>Amount</th>
      </tr>
    </thead>
    <tbody>
			{{#each model as |liability|}}
      <tr>
				<td>{{liability.id}}</td>
        <td>{{liability.amount}}</td>
      </tr>
			{{/each}}
    </tbody>
  </table>
