<div class="detail-form">
  {{#each model as |liability|}}
  <tr>
		<td class="tree-item-capture">{{liability.id}}</td>
    <td class="tree-item-capture">{{liability.amount}}</td>
  </tr>
  {{/each}}
</div>
