<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Proto2Type</h2>
  <p>
    The Proto2Type is made for happiness
  </p>
  {{#link-to 'contact' class="button"}}
    Get Started!
  {{/link-to}}
</div>
