<h2>Balance</h2>

{{tree-grid data=model}}

<h2>Account list <button {{action "changeAccountList"}}> + </button></h2>
{{#if accountList}}
<table id="accountList">
	<tr>
		<th>Account</th>
		<th>Description</th>
		<th>Current amount</th>
	</tr>
</table>

<button {{action "toggleBody"}}>Show Body</button>

{{/if}}
