<h2>Cash Flow Lines</h2>

<table id="cashFlowLines">
	<tr>
    <th>id</th>
		<th>Name</th>
    <th>Parent</th>
	</tr>
  {{#each model as |cflines|}}
  <tr>
    <td class="tree-item-capture">{{cflines.id}}</td>
    <td class="tree-item-capture">{{cflines.name}}</td>
    <td class="tree-item-capture">{{cflines.parentId}}</td>
  </tr>
  {{/each}}
</table>

<h3><button {{action "printModel"}}>Print model</button></h3>
