<h2>Cash Flow Lines</h2>

<table id="cashFlowLines">
	<tr>
    <th>id</th>
		<th>Name</th>
	</tr>
  {{#each model as |cflines|}}
  <tr>
    <td class="tree-item-capture">{{cflines.id}}</td>
    <td class="tree-item-capture">{{cflines.name}}</td>
  </tr>
  {{/each}}
</table>

{{crud-table
  fields=fieldDefinition
  deleteRecord='delete'
  updateRecord='update'
  createRecord='create'}}
