<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>Proto2Type Representatives would love to help you<br>choose a destination or answer
    any questions you may have.</p>
  <p>
    Proto2Type HQ
    <address>
      Darwin 42/44<br>
      Kyiv, Ukraine
    </address>
    <a href="tel:+380 50 3681277">+380 50 3681277</a><br>
    <a href="mailto:pva@isd.com.ua">pva@isd.com.ua</a>
  </p>
  {{#link-to 'about' class="button"}}
    About
  {{/link-to}}
</div>
