<h2>Enterprises</h2>

<table class="table table-bordered table-striped">
    <thead>
      <tr>
				<th>Id</th>
				<th>Name</th>
      </tr>
    </thead>
    <tbody>
			{{#each model as |enterprise|}}
      <tr>
				<td>{{enterprise.id}}</td>
        <td>
					{{#link-to "enterprises.enterprise" enterprise class="button"}}
						{{enterprise.name}}
					{{/link-to}}
				</td>
      </tr>
			{{/each}}
    </tbody>
  </table>

{{outlet}}
