<h2>Enterprises</h2>

<table id="enterpiseList">
	<tr>
		<th>Id</th>
		<th>Name</th>
	</tr>
  {{#each model as |enterprise|}}
  <tr>
		<td class="tree-item-capture">{{enterprise.id}}</td>
    <td class="tree-item-capture">
			{{#link-to "enterprises.enterprise.liabilities" enterprise class="button"}}
				{{enterprise.name}}
			{{/link-to}}
		</td>
  </tr>
  {{/each}}
</table>

{{outlet}}
