<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Liabilities</div>
  <div class="panel-body">
    <p>Liabilities describes relation with other party</p>
  </div>
  {{liability-table liabilities=model.liabilities}}
</div>

<div class="panel panel-primary">
	<button {{action "newLiability"}}
		type="button" class="btn btn-primary">New liability</button>
	{{#if isNewLiab}}
    {{liability-editor liability=liabToEdit}}
  {{/if}}
</div>
