<h2>Liabilities</h2>

<table id="liabilList">
	<tr>
		<th>Id</th>
		<th>Amount</th>
		<th>Party</th>
	</tr>
  {{#each model as |liability|}}
  <tr>
		<td>{{liability.id}}</td>
    <td>{{liability.amount}}</td>
		<td>{{liability.party_id}}</td>
  </tr>
  {{/each}}
</table>
