<h2>Party</h2>

<input type="text" oninput={{perform searchRepo value="target.value"}}
         placeholder="Search Paries..." />

{{#if searchRepo.isRunning}}
  {{fa-icon "spinner" spin=true}}
{{/if}}

<ul>
  {{#each searchRepo.lastSuccessful.value as |party|}}
    <li>
      {{#link-to "parties.party" party class="button"}}
        {{party.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{outlet}}
