<h2>Treasury</h2>

<div>
	{{#link-to 'costcenters' class="button"}}
    Costcenters
  {{/link-to}}

	{{#link-to 'enterprises' class="button"}}
    Enterprises
  {{/link-to}}

	{{#link-to 'persons' class="button"}}
		Persons
	{{/link-to}}
</div>

<div>
  <h3>Liabilities</h3>

  {{tree-grid data=model}}

  <h3>Payments</h3>

  <button {{action "toggleBody"}}>Show Body</button>
</div>
