<div>
	{{#link-to 'costcenters' class="button"}}
		Costcenters
	{{/link-to}}

	{{#link-to 'enterprises' class="button"}}
		Enterprises
	{{/link-to}}

	{{#link-to 'persons' class="button"}}
		Persons
	{{/link-to}}
</div>

<table>
	<th>
		<h2>Treasury</h2>
	</th>
	<tr>
	</tr>
	<tr>

		<h3>Liabilities</h3>

		<h3>Payments</h3>

	</tr>
</table>
